@use '../vars' as *;

.about {
    display: grid;
    grid-template-columns: 47% 53%;
    @include custom {
        grid-template-columns: 1fr;
    }
    .container {
        grid-column: 1/3;
        grid-row: 1/2;
        @include custom {
            grid-row: 2/3;
            grid-column: 1/2;
        }
    }
    &__title {
        margin-bottom: 12px;
        grid-column: 2/3;
        padding-left: 100px;
        @include custom {
            padding-left: 0;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: 47% auto;
        padding-top: 50px;
        padding-bottom: 50px;
        @include custom {
            grid-template-columns: 1fr;
        }
    }
    &__details {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        grid-column: 2/3;
        margin-bottom: 32px;
        padding-left: 100px;
        @include custom {
            padding-left: 0;
        }
    }
    &__image {
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        background-image: url('@img/about_bg.jpg');
        grid-column: 1/2;
        grid-row: 1/2;
        @include custom {
            grid-row: 1/2;
            grid-column: 1/2;
            aspect-ratio: 1/1;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
    }
    &__item {
    }
    &__attention-block {
        border-radius: 10px;
        border: 3px solid #fa002c26;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
        padding-right: 34px;
        max-width: 488px;
    }
    &__attention-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
    &__link {
        grid-column: 2/3;
        max-width: 235px;
        height: 56px;
        margin-left: 100px;
        @include custom {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    }
}
.list-item {
    display: flex;
    column-gap: 24px;
    align-items: center;
    &__icon {
        border-radius: 50%;
        background-color: $accent;
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        svg {
            color: #fff;
            width: 36px;
            height: 36px;
        }
    }
    &__content {
    }
    &__text {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
    }
}
