@use '../vars' as *;

.callback {
    padding-bottom: 100px;
    position: relative;
    background: linear-gradient(180deg, #f4f6f8 31.11%, rgba(255, 255, 255, 0) 84.91%);
    padding-top: 100px;
    &:after {
        position: absolute;
        content: '';
        background-image: url('@img/callback_bg.jpg');
        background-repeat: no-repeat;
        background-position: center top 20%;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-size: cover;
    }
    &__title {
        margin-bottom: 12px;
        &_variant {
            margin-bottom: 46px;
        }
        &_small {
            font-size: 24px;
            font-weight: 700;
            line-height: 21px;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    &__block {
        padding-top: 40px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 50px;
        border-radius: $round-m;
        background-color: #fff;
        &:first-child {
            max-width: 45%;
            @include xl-tablet {
                align-self: center;
                max-width: none;
                padding-left: 16px;
                padding-right: 16px;
            }
        }
    }
    &__contact-text {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 16px;
    }
    &__contact-links {
        display: flex;
        align-items: center;
        column-gap: 12px;
    }
    &__content {
        display: flex;
        column-gap: 40px;
        @include xl-tablet {
            flex-direction: column;
            row-gap: 25px;
        }
    }
}
.callback-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 24px;

    &__input {
        padding: 18px 20px;
        border-radius: 8px;
        border: 1px solid #000;
        background: #fff;
        &::placeholder {
            color: #00000033;
            font-size: 20px;
        }
    }
    &__btn {
        margin-bottom: 8px;
    }
    &__label {
        color: #00000080;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        column-gap: 8px;
    }
}
.callback-contact {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: $round-m;
    border: 1px solid $accent;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    max-width: max-content;
    flex-grow: 0;
    flex-shrink: 0;
    @include mobile {
        font-size: 12px;
    }
    &__icon {
        width: 20px;
        height: 20px;
    }
}
.callback-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    &__item {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }
    &__icon {
        svg {
            width: 36px;
            height: 36px;
            color: $accent;
        }
    }
    &__text {
        font-size: 20px;
        line-height: 28px;
        @include tablet {
            font-size: 16px;
            line-height: 24px;
        }
    }
}
