@use '../vars' as *;

.social-list {
    &__item {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__link {
        width: 100%;
        height: 100%;
        display: block;
        svg {
            width: 100%;
            height: 100%;
            transition: $transition;
        }
    }
}
.phones-list {
    &__item {
    }
    &__link {
        font-weight: 500;
        display: block;
        transition: $transition;
        &:hover {
            color: $accent;
        }
    }
}
//LINKS & BUTTONS
.colored-link {
    background-color: $accent;
    color: #fff;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: $round-s;
    overflow: hidden;
    transition: $transition;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    &:hover {
        background-color: #f4f6f8;
        color: #000;
    }
}
.slider-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    &__elem {
        background-color: #0000001a;
        width: 100px;
        height: 4px;
        cursor: pointer;
        &_active {
            background-color: $accent;
        }
    }
}
.slider-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 63px;
    border-radius: $round-full;
    background-color: $accent;
    @include tablet {
        width: 40px;
        height: 40px;
    }
    &:hover {
        svg {
            transform: scale(1.3) translateX(5px);
        }
    }
    svg {
        color: #fff;
        width: 40%;
        height: 40%;
        transition: $transition;
    }
}
.download-link {
    color: $accent;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    svg {
        color: $accent;
        width: 24px;
        height: 24px;
    }
}
